.hero{
    text-align: justify;
}
.hero article{
    padding: 100px 15px 0px;
}
.hero figure{
    margin: 0;
    padding-bottom: 42px;
}
.hero figure img{
    width: 100%;
}
.hero h4, .hero h2, .hero p{
    margin: 0;
}
.hero p{
    padding: 21px 0 33px;
}
.hero a{
    border: solid 2px #055e6b;
    padding: 7.5px 14px;
    font-size: 16px;
}
.Proyectos{
    padding-top: 120px;
}
.Proyectos figure{
    margin: 0;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.Proyectos img{
    width: 100%;
}
.Proyectos figure a{
    position: relative;
}
.proyecto-info {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
}
.proyecto-info p{
    width: 100%;
    margin: 0;
    text-align: center;
}
.Proyectos figure a:hover .proyecto-info{
    display: flex;
}
.Proyectos-footer{
    background-color: #1fbec4;
    color: white;
    height: 278px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Proyectos-footer p{
    font-size: 45px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
.Proyectos-footer a{
    font-size: 25px;
    padding: 5px 14px;
    border: solid 2px white;
    color: white;
}
.Nosotros div{
    display: grid;
    grid-template-columns: 1fr;
}
.Nosotros article{
    padding: 0 15px;
}
.Nosotros figure {
    width: 100%;
    margin: 0;
}
.Nosotros figure img{
    width: 100%;
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
}
.Nosotros p{
    position: relative;
    margin: -25px 10px 10px;
    text-align: center;
    background-color: white;
    height: 60px;
    z-index: 2;
}
@media screen and (min-width:479px){
    .Proyectos figure{
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
    }
    .Proyectos-footer div{
        height: 200px;
    }
    .Proyectos-footer div p{
        width: 50%;
    }
}
@media screen and (min-width:650px){
    .hero article{
        display: flex;
    }
    .hero article figure{
        width: 50%;
    }
    .hero article div{
        width: 50%;
        text-align: center;
        box-sizing: border-box;
    }
    .hero article div h2, .hero article div h4{
        text-align: left;
    }
    .hero article div p{
        text-align: justify;
    }
    
}
@media screen and (min-width:767px){
    .hero article div{
        padding: 0 10px 42px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .Proyectos figure{
        grid-template-columns: repeat(4, 1fr);
    }
    .Nosotros div{
        grid-template-columns: repeat(6, 1fr);
    }
    .Nosotros article{
        grid-column-end: span 2;
    }
    .Nosotros .Valeria{
        grid-column-start: 2;
    }
}
@media screen and (min-width:1023px){
    .hero{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .hero article{
        max-width: 1000px;
    }
}