.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenido{
    padding: 50px 15px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenido h4{
    text-align: center;
    margin: 0;
}
.contenido-article{
    padding-bottom: 50px;
}
.contenido-imgwraper, .contenido-img{
    width: 100%;
    margin: 0;
}
.contenido-text{
    padding-top: 15px;
}
.contenido-text p{
    text-align: center;
}
.nosotros{
    padding: 0 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nosotros h2{
    width: 100%;
}
.nosotros figure{
    width: 100%;
    margin: 0;
}
.nosotros figure img{
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.nosotros p{
    text-align: justify;
}
.Clientes{
    text-align: center;
}
.Clientes img{
    width: 100%;
}
@media screen and (min-width:479px){
    .contenido-article{
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        padding: 0;
    }
    .contenido-imgwraper, .contenido-text{
        width: 50%;
        box-sizing: border-box;
    }
    .contenido-imgwraper{
        text-align: right;
        border-right: 1px solid #01b282;
        border-collapse: collapse;
    }
    .contenido-img{
        max-width: 200px;
    }
    .contenido-text{
        padding: 15px 10px;
        border-left: 1px solid #01b282;
        border-collapse: collapse;
    }
}
@media screen and (min-width:767px){
    .nosotros article{
       display: flex;
       max-width: 1000px;
       margin-bottom: 50px;
    }
    .nosotros div{
        width: 35%;
        box-sizing: border-box;
    }
    .nosotros h4 {
        font-size: 25px;
    }
    .nosotros h5 {
        font-size: 20px;
    }
    .nosotros p{
        width: 65%;
        box-sizing: border-box;
        padding: 0 10px;
        margin: auto;
    }
    .nosotros h4, .nosotros h5{
        margin: 0;
        padding-top: 5px;
    }
    .Clientes figure{
        margin: 0;
        align-self: center;
        justify-self: center;
    }
    .Clientes-logos{
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(6, 1fr);
        grid-gap: 10px;
        margin: 25px 25px;
    }
    .Clientes-2x4{
        grid-row: span 2;
        grid-column: span 4;
    }
    .Clientes-2x1{
        grid-row: span 2;
    }
    .Clientes-1x2{
        grid-column: span 2;
    }
    .make{
        grid-row-start: 4;
    }
    .catolica{
        grid-row-start: 4;
        grid-column: 3 / span 2; 
    }
    
}
@media screen and (min-width:1023px){
    .nosotros div{
        width: 25%;
    }
    .nosotros p{
        width: 75%;
    }
}