.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenido{
    padding: 50px 15px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenido h4{
    text-align: center;
    margin: 0;
}
.contenido-article{
    padding-bottom: 50px;
}
.contenido-imgwraper, .contenido-img{
    width: 100%;
    margin: 0;
}
.contenido-text{
    padding-top: 15px;
}
.contenido-text p{
    text-align: center;
}
.nosotros{
    padding: 0 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nosotros h2{
    width: 100%;
}
.nosotros figure{
    width: 100%;
    margin: 0;
}
.nosotros figure img{
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.nosotros p{
    text-align: justify;
}
@media screen and (min-width:479px){
    .contenido-article{
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        padding: 0;
    }
    .contenido-imgwraper, .contenido-text{
        width: 50%;
        box-sizing: border-box;
    }
    .contenido-imgwraper{
        text-align: right;
        border-right: 1px solid #01b282;
        border-collapse: collapse;
    }
    .contenido-img{
        max-width: 200px;
    }
    .contenido-text{
        padding: 15px 10px;
        border-left: 1px solid #01b282;
        border-collapse: collapse;
    }
}
@media screen and (min-width:767px){
    .nosotros article{
       display: flex;
       max-width: 1000px;
       margin-bottom: 50px;
    }
    .nosotros div{
        width: 35%;
        box-sizing: border-box;
    }
    .nosotros p{
        width: 65%;
        box-sizing: border-box;
        padding: 0 10px;
        margin: 0;
    }
    .nosotros h4, .nosotros h5{
        margin: 0;
        padding-top: 5px;
    }
}
@media screen and (min-width:1023px){
    .nosotros div{
        width: 25%;
    }
    .nosotros p{
        width: 75%;
    }
}