.hero{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.publicaciones{
    padding: 0 15px 15px;
    display: flex;
    flex-direction: column;
}
.publicaciones a{
    text-align: center;
    text-transform: uppercase;
}
@media screen and (min-width:479px){

}
@media screen and (min-width:767px){

}
@media screen and (min-width:1023px){

}