.hero{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width:479px){

}
@media screen and (min-width:767px){

}
@media screen and (min-width:1023px){

}