.hero{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Proyectos{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 10px;
    margin: 0 10px;
}
.proyecto{
    background-color: blue;
}

@media screen and (min-width:479px){
    .Proyectos{
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
}
@media screen and (min-width:767px){
    .Proyectos{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (min-width:1023px){

}